.config/gh/
.config/iterm2/
.config/gh-copilot/
.config/github-copilot/
.config/raycast/
.config/zed/embeddings/
.config/zed/prompts/
.config/zed/conversations/
.config/fish/fish_history
.config/fish/fish_variables
.config/fish/generated_completions/
/temp/
