.config/gh/
.config/iterm2/
.config/gh-copilot/
.config/github-copilot/
.config/raycast/
.config/zed/embeddings/
.config/zed/prompts/
.config/zed/conversations/
.config/fish/completions/*
.config/fish/conf.d/*
.config/fish/fish_history
.config/fish/fish_variables
.config/fish/functions/*
.config/fish/generated_completions/
.config/fish/themes/*
/temp/

!.config/fish/functions/fisher_setup.fish
